* {
  box-sizing: border-box;
}
body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
a:link {
  text-decoration: none;
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.content .canvas {
  width: 100%;
}

.properties-panel-parent {
  border-left: 1px solid #ccc;
  overflow: auto;
  width: 30%;
}

.theader {
  font-family: Arial;
  font-size: 18px;
}

#sidebarHeader {
  position: absolute;
  top: 0px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

.overlay {
  background-color: rgba(255,165,0, 0.7);
  color: Black;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  width: 120%;
}

.properties-panel-parent > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100%;
}

.sensor {
  background-image: url(http://localhost:5000/svg/Artefakt_Sendend.svg);
}
.actor {
  background-image: url(http://localhost:5000/svg/Artefakt_Empfangend.svg);
}
.actor-sub {
  background-image: url(http://localhost:5000/svg/Artefakt_Empfangend_Sub.svg);
}
.sensor-sub {
  background-image: url(http://localhost:5000/svg/Artefakt_Senden_Sub.svg);
}
.obj {
  background-image: url(http://localhost:5000/svg/Artefakt_Allgemein.svg);
}
.start {
  background-image: url(http://localhost:5000/svg/NewStartSVG.svg);
}
.catch {
  background-image: url(http://localhost:5000/svg/IoT_Artefakt_Intermediate_Catch_Event.svg);
}
.throw {
  background-image: url(http://localhost:5000/svg/IoT_Artefakt_Intermediate_Throw_Event.svg);
}

.iot {
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

a.btn {
  border-radius: .25rem;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: #fff;
  background-color: #0d6efd!important;
  text-decoration: none;
}

a.btn:hover {
  border-radius: .25rem;
  background-color: #0a4eb3 !important;
}
.btn-container {
  bottom: 20px;
  left: 20px;
  position: absolute;
}


/* overlay */

.message {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 99;
}

.content > .message {
  text-align: center;
  display: table;

  font-size: 16px;
  color: #111;
}

.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.content .error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
}

.content .error pre {
  border: solid 1px #CCC;
  background: #EEE;
  padding: 10px;
}

.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-diagram .intro {
  display: none;
}


.content .canvas,
.content.with-error .canvas {
  visibility: hidden;
}

.content.with-diagram .canvas {
  visibility: visible;
}

